body {
     background:fixed;
    background-image: url("~/Content/Pics/notebook-1280538_1920.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top:0px;
    color:whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:0px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#Contact {

    color:whitesmoke;

}
#logoLink {
    color:beige;
}
h2{
    margin-top:0px;
}
#folio-pad{
    margin-top:0px;
   padding-top:150px;

}

/*for homepage title*/
#h2Home{
    padding-left:150px;
    padding-top:100px;
}
/*icon animtations*/
#firstrow{
     padding-left:150px;
    -webkit-animation-delay:0.5s;
    animation-delay:0.5s;
 margin-left:20px;
    margin-right:20px;
}
#secondrow{

     padding-left:150px;
    -webkit-animation-delay:1s;
    animation-delay:1s;
    margin-left:20px;
    margin-right:20px;

}
#thirdrow{
     padding-left:150px;
    -webkit-animation-delay:1.5s;
    animation-delay:1.5s;
    margin-left:20px;
    margin-right:20px;
}
/*font color on portfolio page*/
#Portfolio{
    color:black;
    padding-left:0px;
}

/*page fade*/
#divFade {
    opacity: 1;
    transition: 1s opacity;
}
#divFade.fade-out {
    opacity: 0;
    transition: none;
}
#cardFont{
   color:black;
   background-color:#615755;
}
#headerDrop{
    padding-top:100px;
}
.parallax-container {
      width: 1500px;
    }
